<app-connect-stripe *ngIf="!isConnectedAccount && user; else connected"></app-connect-stripe>
<ng-template #connected>
  <div *ngIf="user">Your stripe account is connected</div>
</ng-template>

<div>
  <a href="sell/new"><button class="btn sell-btn">Sell New Item</button></a>
</div>
<div class="sell-container">
  <div *ngFor="let product of products | async" class="each-product">
    <a href="sell/{{ product.id }}">
      <div class="card">
        <cl-image *ngIf="product.ProductPhotos.length > 0" class="card-img-top" [public-id]="product.ProductPhotos[0].url">
          <cl-transformation height="300" width="300" crop="fill"></cl-transformation>
        </cl-image>
        <div class="card-body">
          <h4 class="card-title">{{ product.title }}</h4>
          <p class="card-text">{{ product.description }}</p>
          <p>Current ask price : $ {{ product.curentAskPrice }}</p>
        </div>
      </div><!-- ./card -->
    </a>
  </div>
</div>