<form [formGroup]="checkoutForm" class="form-checkout" (ngSubmit)="onSubmit()" *ngIf="user" #myform="ngForm">
  <div class="billing-info pt-3" formGroupName="billInfo">
    <div class="d-flex">
      <h3>Billing Information</h3>
      <a href="https://stripe.com/hk" class="stripe-logo ml-auto" target="_blank">
        <img src="/assets/img/powered_by_stripe.png" alt="stripe">
      </a>
    </div>

    <div class="form-group">
      <label class="mr-2">Name:</label>
      <input class="form-control mb-2" formControlName="firstName" placeholder="First name" name="firstName">
      <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['billInfo'].controls['firstName'].hasError('required')">This field is required</small>
      <input class="form-control" formControlName="lastName" placeholder="Last name" name="lastName">
      <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['billInfo'].controls['lastName'].hasError('required')">This field is required</small>
    </div>
    <div class="form-group">
      <label>Billing Address:</label>
      <input type="text" class="form-control" placeholder="line 1" formControlName="address" name="address">
      <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['billInfo'].controls['address'].hasError('required')">This field is required</small>
      <input type="text" class="form-control mt-2" placeholder="line 2" formControlName="address2" name="address2">
      <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['billInfo'].controls['address2'].hasError('required')">This field is required</small>
    </div>
    <div class="form-group form-contact">
      <label>Contact Number:</label>
      <input type="tel" class="form-control form-control-short" name="contact" formControlName="contact" placeholder="Contact Number">
      <small class="form-text text-danger" *ngIf="checkoutForm.controls['billInfo'].controls['contact'].hasError('required') && myform.submitted">This field is required</small>
    </div>
  </div>
  <hr>
  <div class="shipping-info">
    <div class="billing-info" formGroupName="shipInfo">
      <h3>Shipping Information</h3>
      <div class="form-group">
        <label class="mr-2">Name: </label>
        <input class="form-control mb-2" formControlName="firstName" placeholder="First name" name="firstName">
        <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['shipInfo'].controls['firstName'].hasError('required')">This field is required</small>
        <input class="form-control" formControlName="lastName" placeholder="Last name" name="lastName">
        <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['shipInfo'].controls['lastName'].hasError('required')">This field is required</small>
      </div>
      <div class="form-group">
        <label>Shipping Address:</label>
        <input type="text" class="form-control" placeholder="line 1" formControlName="address" name="address">
        <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['shipInfo'].controls['address'].hasError('required')">This field is required</small>
        <input type="text" class="form-control mt-2" placeholder="line 2" formControlName="address2" name="address2">
        <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['shipInfo'].controls['address2'].hasError('required')">This field is required</small>
      </div>
      <div class="form-group form-contact">
        <label>Contact Number:</label>
        <input type="tel" class="form-control form-control-short" name="contact" formControlName="contact" placeholder="Contact Number">
        <small class="form-text text-danger" *ngIf="myform.submitted && checkoutForm.controls['shipInfo'].controls['contact'].hasError('required')">This field is required</small>
      </div>
    </div>
  </div>
  <input type="submit" class="checkout" value="Payment">
</form>