.form-checkout {
  width: 90%
}
.form-contact {
  width: 50%
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color:rgb(22, 157, 190);
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: rgb(16, 134, 163);
}
