#ads {
    margin-top: 30px;
    width: 80%;
    text-align: center;
    height: 10vh;
}

#ads-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#ads-image {
    display: inline-flex !important;
}
