body{
    height: 100%;
    width: 100%;
    
}

#top {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100px;
}

#main {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 500px;
}

#bottom {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 10%;
}
