body{
    height: 100%;
    width: 100%;
    
}

#top {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 8vh;
    background:rgb(104,50,99);
}

#main {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 80vh;
}

#bottom {
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 10vh;
    background: rgb(104,50,99);
}
