body{
    height: 100%;
    width: 100%;
    
}

#top {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 5%;
    background: rgba(129, 126, 126, 0.507);
}

#main {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 85%;
}

#bottom {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 10%;
    background: rgba(129, 126, 126, 0.507);
}
