<div class="product">
  <div class="product-image">
    <img [src]="item.Product.ProductPhotos[0].url"> <!-- to add photos -->
  </div>
  <div class="product-details">
    <div class="product-title"><b>{{item.Product.title}}</b></div>
    <p class="product-description">{{item.Product.description}}</p>
    <p class="product-description">size: {{item.Product.size}}</p>
    <p class="product-description">color: {{item.Product.color}}</p>
  </div>
  <div class="product-price">{{item.Product.currentAskPrice}}</div>
  <div class="product-quantity">
    {{item.quantity}}
  </div>  
  <div class="product-line-price">{{item.Product.currentAskPrice * item.quantity}}</div>
</div>
