<div class="card p-2 my-2 side-card">
  <h4 class="card-title">
    Categories
  </h4>
  <div id="accordion" role="tablist">
    <div role="tab">
      <h5>
        <a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
          Sneakers
        </a>
      </h5>
    </div>
    <div id="collapse1" class="collapse">
      <div class="card-body side-card-body">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>

    <div role="tab">
      <h5>
        <a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
          Handbags
        </a>
      </h5>
    </div>
    <div id="collapse2" class="collapse">
      <div class="card-body side-card-body">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>

    <div role="tab">
      <h5>
        <a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
          Watches
        </a>
      </h5>
    </div>
    <div id="collapse3" class="collapse">
      <div class="card-body side-card-body">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>

    <div role="tab">
      <h5>
        <a href="#collapse4" data-parent="#accordion" data-toggle="collapse">
          Collectables
        </a>
      </h5>
    </div>
    <div id="collapse4" class="collapse">
      <div class="card-body">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="card p-2 my-2 side-card">
  <h4 class="card-title">
    Filters
  </h4>
  <div class="mx-3">
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input"> test
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input"> test
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input"> test
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input"> test
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input"> test
      </label>
    </div>
  </div>
</div>


<div class="card p-2 my-2 side-card">
  <h4 class="card-title">
    Sorting
  </h4>
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Price
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>

  </div>
</div>