<div class="card p-2">
  <h4 class="card-title">
    Categories
  </h4>
  <div id="accordion" role="tablist" class="mx-3">
    <div class="card">
      <div class="card-header" role="tab" id="heading">
        <h5 class="mb-0"><a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
          Sneakers
        </a></h5>
      </div>

      <div id="collapse1" class="collapse">
        <div class="card-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="heading">
        <h5 class="mb-0"><a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
          Handbags
        </a></h5>
      </div>

      <div id="collapse2" class="collapse">
        <div class="card-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="heading">
        <h5 class="mb-0"><a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
          Sneakers
        </a></h5>
      </div>

      <div id="collapse3" class="collapse">
        <div class="card-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="heading">
        <h5 class="mb-0"><a href="#collapse4" data-parent="#accordion" data-toggle="collapse">
          Collectibles
        </a></h5>
      </div>

      <div id="collapse4" class="collapse">
        <div class="card-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card p-2">
  <h4 class="card-title">
    Filters
  </h4>
  <div class="mx-3">
    <div class="form-check">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
        test
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
        test
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
        test
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
        test
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
        test
      </label>
    </div>
  </div>
</div>

<div class="card p-2">
  <h4 class="card-title">
    Sorting
  </h4>
  <div class="dropdown show mx-3 my-1">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>

  </div>
</div>
