.side-card {
    background-color: transparent;
}
.side-card h4{
    color: #888888;
    font-size: 18px;
}
.side-card a{
    color: black;
    font-size: 16px;
}
.side-card-body {
    padding: 0;
    overflow-y: auto;
    max-height: 250px;
}

.nav-link {
    font-size: 11px !important;
}

#accordion {
    margin-bottom: 30px;
}