<div class="products-container">
  <div *ngFor="let product of products | async" class="each-product">
    <a href="products/{{product.id}}">
      <div class="card">
        <div class="card-img-top">
          <img *ngIf="product.ProductPhotos[0]" class="card-product-img" [src]="product.ProductPhotos[0].url" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ product.title }}</h4>
          <span *ngIf="product.condition == 'new'" class="badge badge-pill badge-success">NEW</span>
        </div>
        <footer class="card-footer">Lowest bid price : <br><span class="price">$ {{ product.curentBidPrice }}</span></footer>
      </div><!-- ./card -->
    </a>
  </div><!-- ngFor -->
</div>