<div class="container-fluid p-5" *ngIf="product">
  <div class="row">
    <div class="col-sm-1 px-2" *ngIf="product.ProductPhotos.length>1">
      <div>
        <button class="img-control" *ngFor="let photo of product.ProductPhotos">
          <img class="thumbnail" [src]="photo.url" (click)="changeImage($event)">
        </button>
      </div>
    </div>
    <div class="col-sm-5 px-2">
      <div class="display">
        <img [src]="imgsrc" alt="image">
      </div>
    </div>
    <div class="col-sm-6">
      <h1>{{product.title}}</h1>
      <p class="lead mb-4">
        {{product.description}}
      </p>
      <div class="price">Current Price: {{ product.currentAskPrice | currency}}</div>
      <div class="options">
        <div *ngIf="product.size > 0" class="my-3 form-group">
          <h5>Size:</h5>
          <div class="size-button form-group">
            
            <button class="btn btn-outline-dark" type="button">{{product.size}}</button>
          </div>
        </div>
        <div class="color-button my-3 form-group">
          <h5>Color:</h5>
          <button class="btn btn-outline-dark" type="button">{{product.color}}</button>
          <!-- <button class="btn btn-danger" type="button">Red</button>
                  <button class="btn btn-warning" type="button">Yellow</button> -->
        </div>
        <div class="quantity-select form-group">
          <h5>Quantity:</h5>
          <input class="form-control form-number form-control" type="number" name="quantity" [(ngModel)]="quantity" min="1" [max]="product.quantity">
          <div class="form-text" [ngClass]="{'text-danger': product.quantity < 3}">
            <span *ngIf="product.quantity < 3">Only </span>{{product.quantity}} in stock.</div>
        </div>
        <div *ngIf="isLoggedIn" class="add-item my-5 form-group">
          <div class="btn-group">
            <button class="btn btn-primary btn-lg" type="button" (click)="addToCart(product.id)">Add to cart</button>
          </div>
          <div *ngIf="notaddedFav" class="btn-group">
            <button class="btn btn-primary btn-lg" type="button" (click)="addToFav(product.id)">Add to Favorite</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>