<div id="account-box">
  <div class="account-title">Account Setting</div>
  <hr>
  <div class="account-detail-box">
    <div class="account-detail-title"><i>First Name:</i></div>
    <div class="account-detail-content">{{userProfile.firstName}}</div>
    <div class="account-detail-title"><i>Last Name:</i></div>
    <div class="account-detail-content">{{userProfile.lastName}}</div>
    <div class="account-detail-title"><i>Email:</i></div>
    <div class="account-detail-content">{{userProfile.email}}</div>
    <div class="account-detail-title"><i>Billing Address 1:</i></div>
    <div class="account-detail-content">{{userProfile.billingAddress}}</div>
    <div class="account-detail-title"><i>Billing Address 2:</i></div>
    <div class="account-detail-content">{{userProfile.billingAddress2}}</div>
    <div class="account-detail-title"><i>Shipping Address 1:</i></div>
    <div class="account-detail-content">{{userProfile.shippingAddress}}</div>
    <div class="account-detail-title"><i>Shipping Address 2:</i></div>
    <div class="account-detail-content">{{userProfile.shippingAddress2}}</div>
    <div class="account-detail-title"><i>Contact:</i></div>
    <div class="account-detail-content">{{userProfile.contact}}</div>
  </div>
</div>
