<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 ">
    <div id="loginform">
        <h2>Login</h2>
        <form [formGroup]="localLogin" (ngSubmit)="onSubmit($event)">
            <div class="modal-body">
                <div class="form-group">
                <label>Username</label>
                <input type='text' name="username" class="form-control" placeholder="Username" 
                    formControlName="username"/>

                <div *ngIf="localLogin.controls['username'].hasError('required') && localLogin.controls['username'].dirty" class="alert alert-danger">
                    Password should be no less than 1 letter
                </div>
                <div *ngIf="localLogin.controls['username'].hasError('maxlength') && localLogin.controls['username'].dirty" class="alert alert-danger">
                    Password should be no more than 25 letters
                </div>
                </div>
                <div class="form-group">
                <label>password</label>
                <input type='text' name="password" class="form-control" placeholder="Enter your password" 
                    formControlName="password"/>
                <div *ngIf="localLogin.controls['password'].hasError('required') && localLogin.controls['password'].dirty" class="alert alert-danger">
                    Password is required
                </div>
                </div>
            </div>
            <div id="btn-box">
                <input type="submit" class="btn btn-primary" id="link-submit-btn" value="Submit"/>
            </div>
        </form> 
        <a routerLink="/signup" routerLinkActive="active">Signup for an account</a>
        <hr>
        <button class="btn btn-pirmary" (click)="onLoginWithFacebook($event)">Login with Facebook</button>
        <button class="btn btn-pirmary" (click)="onLoginWithGoogle($event)">Login with Google</button>
    </div>
</div>