<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h3 class="modal-title">Login</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form [formGroup]="localLogin">
            <div class="modal-body">
                <div class="form-group">
                <label>Email</label>
                    <input type='text' name="email" class="form-control" placeholder="Email" 
                        formControlName="email"/>

                    <div *ngIf="localLogin.controls['email'].hasError('required') && localLogin.controls['email'].dirty" class="alert alert-danger">
                        Password should be no less than 1 letter
                    </div>
                </div>
                <div class="form-group">
                <label>password</label>
                    <input type='text' name="password" class="form-control" placeholder="Enter your password" 
                        formControlName="password"/>
                    <div *ngIf="localLogin.controls['password'].hasError('required') && localLogin.controls['password'].dirty" class="alert alert-danger">
                        Password is required
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <input (click)="onSubmit($event)" data-dismiss="modal" type="submit" class="btn btn-primary" id="link-submit-btn" value="Submit"/>

        </div>
        </form> 
        <hr>
        <button class="btn btn-pirmary" (click)="onLoginWithFacebook($event)">Login with Facebook</button>
        <button class="btn btn-pirmary" (click)="onLoginWithGoogle($event)">Login with Google</button>
    </div>
</div>