<table class="table">
  <thead class="thead-inverse">
      <tr>
          <th>Order no.</th>
          <th>Item name</th>
          <th>Quantiy</th>
          <th>Each</th>
          <th>Total</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">1</th>
          <td>John</td>
          <td>Doe</td>
          <td>jdoe@gmail.com</td>
          <td>123</td>
      </tr>
      <tr>
          <th scope="row">2</th>
          <td>Will</td>
          <td>Johnson</td>
          <td>will@yahoo.com</td>
          <td>123</td>
      </tr>
      <tr>
          <th scope="row">3</th>
          <td>Shannon</td>
          <td>Williams</td>
          <td>shannon@yahoo.com</td>
          <td>123</td>
      </tr>
  </tbody>
</table>