#signupform{
    padding: 50px 30px;
    height: 500px;
    margin-top: 50px;
    width: 100%;
    border: solid 1px grey;
    border-radius: 10px;
}
.close {
    color: white;
}
.submit-btn {
    border: 5px solid rgb(137,212,26);
    border-radius: 0;
    color: rgb(137,212,26);
    background-color: transparent;
    margin: auto;
}
.submit-btn {
    cursor: pointer;
}
.modal-header {
    border-bottom: 8px solid #333;
}
.modal-content {
    width: 400px;
    background-color: rgba(0,0,0,0.9);
    border: 10px solid rgb(51,51,51);
    border-radius: 0;
    color: white;
}
.modal-footer {
    border-top: none;
}
.form-group {
    padding-right: 28px;
    padding-left: 28px;
}