<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col-lg-3">
      <div class="navbar-brand">Deals Hub</div>
    </div>
    <div class="col-lg-6">
      <app-notification></app-notification>
    </div>
    <div class="col-lg-1 col-lg-offset-2" *ngIf="isLoggedIn; else login">
      <button class="btn btn-secondary"  (click)="logOut($event)">Logout</button>
    </div>
    <ng-template #login>
      <div class="col-lg-2 col-lg-offset-1" id="login-signup-btn">
        <button class="btn btn-secondary" data-toggle="modal" data-target="#LoginForm">Login</button>
        <button class="btn btn-secondary" data-toggle="modal" data-target="#SignupForm">Sign Up</button>
      </div>
    </ng-template>
  </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <app-login></app-login>
</div>

<!-- Signup Modal -->
<div class="modal fade" id="SignupForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <app-signup></app-signup>
</div>