.photo-upload-container{
  height: 210px;
  width: 380px;
  border: 1px dotted gray;
}
/* Photo Upload Trial */
body {
font-family: "Raleway", sans-serif;
height: 100vh;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
background-color: #eff5f6;
}
.sell-form {
  margin-top: 38px;
  padding-bottom: 20px;
  margin-top: 30px;
}
.select-btn {
width: 100px;
}
.wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
/* -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
-webkit-box-align: left;
    -ms-flex-align: left;
        align-items: left;
-webkit-box-pack: left;
    -ms-flex-pack: left;
        justify-content: left;
overflow: scroll;
}
h1 {
font-family: inherit;
margin: 0 0 .75em 0;
color: #728c8d;
text-align: center;
}
select,
.form-control{
  border: 1px solid #bcbcbc;
  border-radius: 0;
  -webkit-appearance: none;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  margin-top: 38px;
}
.seller-input {
  top: -48px;
  border: none;
}
.float-field {
  position: relative;
  width: 65%;
  height: 35px;
  margin: auto;
  z-index: 10;
  outline: none;
}
.non-float-field {
  position: relative;
  width: 65%;
  height: 80px;
  margin: auto;
  overflow: scroll;
  margin-top: 38px;
}
.sell-form label {
  color: #a9a9a9;
}.sell-form btn label {
  color: white;
}
.float-label {
  position: absolute;
  pointer-events: none;
  top: -10px;
  transform: translate(0, 20px);
  transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 1;
}
.form-control:focus,
.select-input:focus,
.select-input .ng-dirty {
  color: black;
  background-color: transparent;
  border-bottom: 1px solid rgb(137,212,26);
  border-color: rgb(137,212,26);
  transform: translate(0,0);
  top: -12px;
  box-shadow: none;
}
/* .select-input {
  margin-top: 38px;
} */
.select-input:focus ~ .float-label,
.ng-dirty ~ .float-label {
  color: rgb(137,212,26);
  transform: translate(0,-10px);
}
.ng-dirty ~ .non-float-field label {
  color: rgb(137,212,26);
}
.photo-upload-section {
  margin-top: 50px;
}
.box {
  display: block;
  min-width: 300px;
  height: 180px;
  margin: 10px;
  background-color: white;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  position: relative;
  border: 2px dashed gray;
}
.box-preview {
border: none;
}
.box-full-preview {
position: relative;
height: 180px;
width: 300px;
}
.product-img {
width: 300px;
position: absolute;
bottom: 0;
}
.upload-options {
position: relative;
height: 75px;
background-color: cadetblue;
cursor: pointer;
overflow: hidden;
text-align: center;
-webkit-transition: background-color ease-in-out 150ms;
transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
background-color: #7fb1b3;
}
.upload-options input {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.upload-options label {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
width: 100%;
height: 100%;
font-weight: 400;
text-overflow: ellipsis;
white-space: nowrap;
cursor: pointer;
overflow: hidden;
}
.upload-options label::after {
content: '\f067';
font-family: 'FontAwesome';
position: absolute;
font-size: 2.5rem;
color: #e6e6e6;
top: calc(50% - 2.5rem);
left: calc(50% - 1.25rem);
z-index: 0;
padding-top: 10px;
}
.upload-options label span {
display: inline-block;
width: 50%;
height: 100%;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}
.js--image-preview {
  height: 105px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "\f1c5";
  font-family: 'FontAwesome';
  position: relative;
  font-size: 4.5em;
  color: #e6e6e6;
  top: calc(50% - 3rem);
  left: calc(50% - 2.25rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}
i.material-icons {
-webkit-transition: color 100ms ease-in-out;
transition: color 100ms ease-in-out;
font-size: 2.25em;
line-height: 55px;
color: white;
display: block;
}
.drop {
display: block;
position: absolute;
background: rgba(95, 158, 160, 0.2);
border-radius: 100%;
-webkit-transform: scale(0);
        transform: scale(0);
}
.animate {
-webkit-animation: ripple 0.4s linear;
        animation: ripple 0.4s linear;
}
.delete-btn {
position: absolute;
height: 50px;
width: 50px;
background: rgba(203,32,39,0.7);
border-radius: 45px;
top:0;
right: 0;
display: flex;
align-items: center;
justify-content: center;
z-index: 5;
margin: 8px;
}
.delete-btn::after {
display: flex;
align-items: center;
justify-content: center;
content: '\f00d';
font-family: 'FontAwesome';
font-size: 20px;
color: white;
}
.delete-btn:hover{
background: rgba(203,32,39,1);
cursor: pointer;
}
.btn-primary.select-btn.btn.active {
  background-color: #007bff;
  border-color: #007bff;
  box-shadow: none;
 }
.btn-primary.select-btn.btn.active.focus {
  background-color: #0062cc;
  border: #005cbf;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.5);
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  margin-right: 5px;
  border:1px solid darkgray;
  border-radius:100%;
  outline:none;
  box-shadow:0 0 5px 0px rgba(0,123,255,0.5) inset;
}
input[type='radio']:hover {
  box-shadow:0 0 5px 0px white inset;
}
input[type='radio']:before {
  content:'';
  display:block;
  width:100%;
  height:100%;
  margin: auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:white;
}
.sell-btn {
  border: 5px solid rgb(137,212,26);
  border-radius: 0;
  background-color: rgb(104,51,97);
  color: white;
  font-size: 20px;
  margin: auto;
  margin-top: 60px;
}
.sell-btn:hover {
  background-color: rgb(137,212,26);
  color: darkslategray;
}
@-webkit-keyframes ripple {
100% {
  opacity: 0;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}
}

@keyframes ripple {
100% {
  opacity: 0;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}
}