<div class="container">
  <div class="col-xs-6 mx-auto">
    <form [formGroup]="sellForm">
      <div class="form-group">
        <span class="float-field float-select">
          <label class="float-label" for="category">Category</label>
          <select id="category" class="form-control" formControlName="category" (change)="filterBrand($event.target.value)">
            <option value="" disabled selected></option>
            <option *ngFor="let category of categories">{{ category.title }}</option>
          </select>
        </span>
      </div><!-- form-group -->
      <div class="form-group">
        <span class="float-field float-select">
          <label class="float-label" for="category">Brand</label>
          <select id="brand" class="form-control" formControlName="brand">
            <option value="" disabled selected></option>
            <option *ngFor="let brand of brands">{{ brand }}</option>
          </select>
        </span>
      </div><!-- form-group -->
      <div class="form-group">
        <span class="float-field float-select">
          <label class="float-label" for="category">Size</label>
          <div class="btn-toolbar">
            <div class="btn-group mr-2 form-control" formControlName="size">
                <button class="btn btn-primary" type="button">1</button>
                <button class="btn btn-primary" type="button">2</button>
                <button class="btn btn-primary" type="button">3</button>
                <button class="btn btn-primary" type="button">4</button>
            </div>
          </div>
        </span>
      </div><!-- form-group -->
      <div class="form-group">
        <span class="float-field float-select">
          <label class="float-label" for="category">Color</label>
          <div class="btn-toolbar">
            <div class="btn-group mr-2 form-control" formControlName="color">
                <button class="btn btn-primary" type="button">black</button>
                <button class="btn btn-primary" type="button">white</button>
                <button class="btn btn-primary" type="button">gray</button>
                <button class="btn btn-primary" type="button">yellow</button>
            </div>
          </div>
        </span>
      </div><!-- form-group -->
      <div class="form-group">
          <span class="float-field float-select">
            <label class="float-label" for="category">Ask Price</label><br>
            <input id="askPrice" class="form-control" formControlName="askPrice">
          </span>
      </div><!-- form-group -->
      <div class="form-group">
          <span class="float-field float-select">
            <label class="float-label" for="category">Product Condition</label>
            <div class="btn-toolbar">
              <div class="btn-group mr-2 form-control" formControlName="condition">
                <button class="btn btn-primary" type="button">new</button>
                <button class="btn btn-primary" type="button">used</button>
            </div>
          </div>
        </span>
      </div><!-- form-group -->
      <div class="form-group">
        <span class="float-field float-select">
          <label class="float-label" for="category">Photos</label>
          <div class="photo-upload-container form-control" formControlName="photo">
            <button class="btn btn-success">Upload</button>
          </div>
        </span>
      </div><!-- form-group -->
      <button type="submit" class="btn btn-primary">Start Selling</button>
    </form>
  </div><!-- col -->
</div>