.tab-content{
    height: 74.3vh;
    width: 100%;
    overflow-y: auto;
    background-color: #f1f1f1;
}
.tabs{
    background: rgb(104,51,97);
    padding-left: 30px;
}
.container-fluid{
    padding: 0;
}
.nav-tabs,
.nav-link {
    width: 120px;
    text-align: center;
}