<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="marketplace-tab" role="tab" routerLink="/home"  routerLinkActive="active">Marketplace</a>
  </li>
  <li *ngIf="isLoggedIn" class="nav-item">
    <a class="nav-link" id="favourites-tab" role="tab" routerLink="/favourites" routerLinkActive="active">Favourites</a>
  </li>
  <li *ngIf="isLoggedIn" class="nav-item">
    <a class="nav-link" id="transactions-tab" role="tab" routerLink="/transactions" routerLinkActive="active">Transactions</a>
  </li>
  <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" id="cart-tab" role="tab" routerLink="/sell" routerLinkActive="active">Sell</a>
  </li>
  <li *ngIf="isLoggedIn" class="nav-item">
    <a class="nav-link" id="cart-tab" role="tab" routerLink="/cart" routerLinkActive="active">Cart</a>
  </li>
</ul>