.msg-box{
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 10px 0px;
    border-radius: 10px;
    height: 50px;
}

.msg-box.success{
    
}

.msg-box.fail{
    
}