.msg-box{
    text-align: left;
    padding: 5px 0px;
    /* box-shadow: 0 0 0 1px #a3c293 inset, 0 0 0 0 transparent; */
    height: 56px;
    background: rgba(0,0,0,0.9);
    outline: 7px solid rgba(0,0,0,0.9);
}

.msg-title {
    font-size: 16px;
    color: white;
}

.msg-content {
    font-size: 13px;
    color: rgba(196, 196, 196, 0.514);
}